@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1.5rem;
}

/*nav ul li a {
  color: #fff;
  text-decoration: dotted;
  background-color: #083874;
  padding: 7px;
  border: 10px;
  border-radius: 3px;
}*/

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #ff9800;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #e68900;
}

section#services {
  padding: 20px;
  background-color: white;
  margin: 20px;
  border-radius: 5px;
}

.feature {
  margin-bottom: 20px;
}

.feature h3 {
  color: #4caf50;
}

.feature p {
  color: #555;
}

input[type="text"] {
  border: 1px solid #bdc3c7;
  font-size: 18px;
  line-height: 21px;
  padding: 15px 30px;
  margin: 10px;
}

/*.coot {
  border: 1px solid #bdc3c7;
  font-size: 18px;
  color: white;
  line-height: 24px;
  padding: 15px 30px;
  border-radius: 5px;
  background-color: rgb(32, 125, 233);
  cursor: pointer;
  margin-top: 10px;
}
.coot:hover {
  background-color: rgb(8, 58, 116);
}
#harro {
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  line-height: 22px;
  margin-left: 10px;
}*/

#sing {
  padding-top: 30px;
  padding-left: 100px;
}

#sing button {
  border: 1px solid #bdc3c7;
  font-size: 18px;
  color: white;
  line-height: 14px;
  border-radius: 5px;
  background-color: rgb(32, 125, 233);
  cursor: pointer;
  padding: 20px 30px 20px 20px;
  margin: auto;
  width: 250px;
}

#sing button:hover {
  background-color: rgb(8, 58, 116);
}

.fl1 {
  width: 52%;
  float: left;
  height: 879.5px;
  background-color: #bdc3c7;
}

.fl2 {
  width: 48%;
  float: left;
  background-color: #4caf50;
  padding-top: 68px;
  height: 879.5px;
}

.box {
  border: 2px solid #083a74;
  border-radius: 5px;
  background-color: #083a74;
  color: #ffffff;
  margin: 15px;
  padding: 10px;
  max-width: 80%;
  padding-left: 10px;
}

.rob {
  max-width: 100px;
  float: left;
  padding-top: 10px;
  margin-right: 20px;
  padding-left: 9px;
}

.title {
  font-size: 18px;
  line-height: 28px;
  color: rgb(227, 233, 240);
  font-weight: normal;
  padding-right: 15px;
}

.statistic {
  font-size: 32px;
  line-height: 35px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

.promise {
  font-size: 29px;
  line-height: 35px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

.description {
  font-size: 14px;
  line-height: 22px;
  color: rgb(124, 149, 176);
  font-weight: bold;
}

.petition {
  font-size: 13.2px;
  line-height: 22px;
  color: rgb(124, 149, 176);
  font-weight: bold;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*End of first paragraph on the Web Browser*/

.accordion {
  max-width: 50%;
  margin: auto;
}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  color: white;
}

.participation {
  width: 25%;
  background-color: purple;
}

.deliberation {
  width: 50%;
  background-color: purple;
}

.follow-up {
  width: 75%;
  background-color: purple;
}

.feedback {
  width: 100%;
  background-color: purple;
}

.pad {
  max-width: 70%;
  margin: auto;
}

.cephases {
  float: left;
}

.finished-debate {
  height: 490px;
  width: 553px;
  background-color: #f3f5fb;
  float: left;
  margin-left: 250px;
}

.finish-photo {
  float: left;
}

/*Below i started from Ongoing Debate*/

.ongoing-debate {
  margin-left: 400px;
}

.next-election {
  height: 250px;
  width: 553px;
  background-color: #f3f5fb;
  margin-top: 50px;
  float: left;
}

/*float: left;
  margin-left: 250px;*/

.counter {
  float: left;
}

.counter-up {
  margin-left: 100px;
}

.nurnbar {
  font-size: 43px;
  line-height: 43px;
  color: rgb(255, 255, 255);
  font-weight: 900;
  background-image: linear-gradient(#f7941d 60%, #e58716 40%);
  border: 2px solid lemon;
  border-radius: 5px;
  margin-right: -1px;
  padding: 0 6px;
  display: inline;
}

.voters-card {
  height: 250px;
  width: 553px;
  background-color: #f3f5fb;
  margin-top: 50px;
  float: left;
}

.conduct {
  margin-left: 200px;
}

form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #bbb;
  background-color: #e0e0e0;
}

button.myform {
  color: green;
  font-size: 30px;
  padding: 5px 15px;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #333;
  color: #fff;
  width: 100%;
  bottom: 0;
}

.turp {
  border-radius: 20px;
  font-size: 14px;
  background-color: lemonchiffon;
  padding: 14px 25px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  position: relative;
  direction: ltr;
}

.prut {
  position: fixed;
  right: 0;
  bottom: 350px;
  transform: rotate(-90deg);
}

.b-arrow-right {
  font-weight: bold;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
